   .account-selector-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
  }
  
  .account-list,
  .account-selected {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background: #f9f9f9;    
    max-height: 300px;   
    overflow-y: auto;
  }
  
  
  .account-list::-webkit-scrollbar,
  .account-selected::-webkit-scrollbar {
    width: 8px;
  }
  
  .account-list::-webkit-scrollbar-thumb,
  .account-selected::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  