.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #295a9e; /* Tailwind gray-800 */
    /* background-color: #e5e8eb; */
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Optional animation for a nice entrance ✨ */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  