.user-management-container {
  padding: 20px;
  background-color: #f9fafb;
  color: #1f2937;
  font-family: Arial, sans-serif;
}

.onboarding-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.onboarding-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

.onboarding-box {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  padding: 0.75rem 1rem;
  /* border: 1px solid #e5e7eb; */
  text-align: left;
}

.user-table thead {
  background-color: #ced0d4;
}

.user-table tbody tr:hover {
  background-color: #f9fafb;
}

.edit-btn {
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.edit-btn:hover {
  background-color: #1d4ed8;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 6px 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.add-user-btn {
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-user-btn:hover {
  background-color: #1d4ed8;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}



/* Apply a light background color to even rows */
.user-table tbody tr:nth-child(even) {
  background-color: #f3f4f6; /* Light gray */
}

/* Apply a slightly different background color to odd rows */
.user-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White */
}
